.quiz-container {
    // padding: 15px;

    .accordion-header {
        button {
            background-color: rgb(231, 200, 200)(231, 200, 200);
            font-weight: bold;
        }
    }

    .accordion-body {
        background-color: rgb(243, 238, 238);
    }

    .table {
        border: 1px solid black;
    }

    .title {
        font-size: 30px;
        font-weight: 600;
    }

    legend {
        font-size: 15px;
    }

    .add-new {
        .form-actions {
            .form-label {
                border: 1px solid green;
                background: rgb(224, 166, 166);
                padding: 7px 10px;
                border-radius: 5px;
                cursor: pointer;
            }

        }
    }

    .list-detail {
        padding: 15px;
    }

    .quiz-content {}

}

.modal-view-quiz {
    .modal-content {
        color: white;
        border: 1px solid rgb(43, 30, 30);
        background-color: rgb(246, 239, 239);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        background-image: url("https://boxgaixinh.net/wp-content/uploads/2022/11/3-7.jpg");
        background-size: cover;

        .modal-body {

            input,
            select {
                background-color: #0e284140;
            }

            .form-control,
            .form-select {
                color: white;
            }
        }

    }

    .img-preview {
        height: 150px;
        border: 1px dashed;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ccc;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .modal-footer {
        button {
            background-color: #0e284140;
        }
    }
}


.modal-delete-quiz {
    .modal-content {
        background-color: rgb(211, 197, 197);
        border: 1px solid black;

        .del-id {
            color: rgb(15, 6, 6);

            span {
                color: red;
            }
        }
    }
}

.modal-update-quiz {
    .modal-content {
        color: white;
        border: 1px solid rgb(43, 30, 30);
        background-color: rgb(246, 239, 239);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        background-image: url("https://boxgaixinh.net/wp-content/uploads/2022/11/3-7.jpg");
        background-size: cover;

        .modal-body {

            input,
            select {
                background-color: #0e284140;

                option {
                    background-color: rgb(53, 39, 39);
                }

            }

            .form-control,
            .form-select {
                color: white;
            }
        }

    }

    .modal-footer {
        button {
            background-color: #0e284140;
        }
    }

    .img-preview {
        height: 150px;
        border: 1px dashed;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ccc;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .label-upload {
        display: flex;
        align-items: center;
        gap: 5px;
        border: 1px solid red;
        width: fit-content;
        padding: 3px 10px;
        border-radius: 5px;
        background: #4c595b;
        cursor: pointer;

        &:hover {
            background: #56dced;
        }
    }
}