.detail-quiz-container {
    display: flex;
    gap: 20px;
    padding: 50px;

    .left-content {
        border: 1px solid red;
        width: 70%;

        .title {
            font-weight: 600;
            font-size: 30px;
        }

        .q-content {
            .question {
                font-weight: 600;
                font-size: 20px;
            }
        }

        .footer {
            display: flex;
            gap: 15px;
            justify-content: center;
        }
    }

    .right-content {
        border: 1px solid green;
        width: 30%;
    }
}