.detail-quiz-container {
    display: flex;
    gap: 20px;
    padding: 50px;

    .left-content {
        border: 2px solid rgb(241, 236, 236);
        width: 70%;
        border-radius: 5px;
        padding: 20px;

        .title {
            font-weight: 600;
            font-size: 30px;
        }

        .q-content {
            text-align: center;

            .question {
                font-weight: 600;
                font-size: 20px;
                padding: 20px 0;
            }

            .q-image {
                width: 100%;
                height: 100px;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .answer {
                .a-child {
                    text-align: left;
                    padding-left: 50px;
                }
                .form-check-input {
                    border-radius: 50%;
                }
            }
        }

        .footer {
            margin-top: 20px;
            display: flex;
            gap: 15px;
            justify-content: center;
        }
    }

    .right-content {
        border: 2px solid rgb(241, 236, 236);
        width: 30%;
        border-radius: 5px;
        padding: 20px;
    }
}