.list-quiz-container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    border-top: 1px solid red;
    margin-bottom: 30px;
    padding-top: 20px;

    .card {
        border: 2px solid rgb(221, 146, 146)(209, 208, 208);
        box-shadow: 0 4px 10px rgba(173, 149, 149, 0.4);
        background-color: rgb(219, 245, 230);
    }

    img {
        height: 350px;
    }

    .card-body {
        button {
            background-color: #060ca487;
            color: black;
            &:hover {
                background-color: rgb(31 38 214 / 89%);
                color: white;
            }
        }
    }
}