.questions-container {
    padding: 15px;

    .title {
        margin-bottom: 15px;
        font-size: 600;
        font-weight: 30px;
    }

    .questions-content {
        display: flex;
        gap: 25px;

        .description {
            width: 50%;
        }

        .group-upload {
            padding-top: 13px;

            .label-up {
                margin-right: 5px;
                cursor: pointer;
                color: #9068ff;
                font-size: 25px;

                &:hover {
                    color: #4400ff;
                }
            }
        }

        .btn-add {
            padding-top: 14px;

            .icon-add {
                font-size: 30px;
                color: #2596ff;
                cursor: pointer;

                &:hover {
                    color: rgb(15, 15, 208);
                }
            }

            .icon-remove {
                margin-left: 10px;
                font-size: 30px;
                color: #e8771c;
                cursor: pointer;

                &:hover {
                    color: #ff7608;
                }
            }
        }

    }

    .answers-content {
        display: flex;
        gap: 15px;
        padding-left: 20px;
        padding-top: 30px;
        align-items: center;

        .answer-name {
            width: 60%;
        }

        .iscorrect {
            font-size: 20px;
        }

        .btn-group {
            .icon-add {
                font-size: 30px;
                color: #2596ff;
                cursor: pointer;

                &:hover {
                    color: rgb(15, 15, 208);
                }
            }

            .icon-remove {
                margin-left: 10px;
                font-size: 30px;
                color: #e8771c;
                cursor: pointer;

                &:hover {
                    color: #ff7608;
                }
            } 
        }
    }
}