.questions-container {
    padding: 15px;

    .title {
        margin-bottom: 15px;
        font-size: 600;
        font-weight: 30px;
    }

    .questions-content {
        display: flex;
        gap: 25px;

        .description {
            width: 50%;
        }

        .group-upload {
            padding-top: 13px;

            .label-up {
                height: 34px;
                border: 1px solid red;
                border-radius: 5px;
                padding: 4px 10px;
                margin-right: 5px;
                cursor: pointer;
            }
        }

        .btn-add {
            padding-top: 14px;

            .icon-add {
                font-size: 30px;
                color: red;
                cursor: pointer;
            }

            .icon-remove {
                margin-left: 10px;
                font-size: 30px;
                color: rgb(22, 15, 15);
                cursor: pointer;
            }
        }

    }

    .answers-content {
        display: flex;
        gap: 15px;
        padding-left: 20px;
        padding-top: 30px;
        align-items: center;

        .answer-name {
            width: 60%;
        }

        .iscorrect {
            font-size: 20px;
        }

        .btn-group {
            .icon-add {
                font-size: 30px;
                color: red;
                cursor: pointer;
            }

            .icon-remove {
                margin-left: 10px;
                font-size: 30px;
                color: rgb(22, 15, 15);
                cursor: pointer;
            }
        }
    }
}