.profile-container {
    padding: 50px 30px 30px 100px;

    .title {
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .left-content {
        display: flex;
        gap: 60px;

        .profile-avatar {

            img {
                height: 200px;
                width: 200px;
                object-fit: cover;
                border-radius: 50%;
                border: 2px solid red;
                margin-bottom: 20px;
                box-shadow: 0 4px 10px rgba(233, 162, 162, 0.4);
            }

            .avatar-1 {
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                justify-content: center;

                .avatar {
                    font-size: 22px;
                    color: rgb(29, 17, 17);
                }

                .update-avatar {
                    padding: 5px 10px;
                    border: 1px solid red;
                    box-shadow: 0 4px 10px rgba(250, 182, 182, 0.4);
                    border-radius: 3px;
                    background-color: rgb(171, 156, 235);

                    &:hover {}
                }
            }
        }

        .profile-content {
            width: 70%;
            padding: 30px 50px;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            gap: 20px;
            color: rgb(39, 31, 31);
            font-size: 20px;
            font-weight: 200;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(173, 149, 149, 0.4);

            .span1 {
                border: 1px solid rgb(67, 62, 62);
                padding: 10px;
                border-radius: 5px;
                background-color: #deb3b30a;
                width: 600px;
            }
        }
    }

}

.updateAvatar {
    .modal-content {
        background-color: #ceebe5ab;
    }
    .img-preview {
        height: 150px;
        border: 1px dashed;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0f0303;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .label-upload {
        display: flex;
        align-items: center;
        gap: 5px;
        border: 1px solid red;
        width: fit-content;
        padding: 3px 10px;
        border-radius: 5px;
        background: #6b70d7;
        cursor: pointer;

        &:hover {
            background: #75b9c2;
        }
    }
}