.scrollbar-container {
    background-color: rgb(243, 238, 238);
}

.manage-user-container {
    padding: 10px;

    .User-content {
        .btn-add-new {
            .btn-primary {
                background-color: rgb(249, 224, 224);
                border: 1px solid rgb(27, 18, 18);
                color: black;
                margin: 15px 0;
            }
        }

        .table-users-container {
            .pagination {
                display: flex;
                justify-content: center;
            }
        }
    }

    .title {
        font-weight: 600;
        font-size: 20px;
    }
    .table {
        border: 1px solid black;
    }
}

.modal-add-user {
    // .modal-content {
    //     background-image: url('https://img.thuthuatphanmem.vn/uploads/2018/10/04/hinh-nen-sieu-xe-3d-cho-may-tinh_111411685.jpg');
    //     background-size: cover;
    //     background-color: rgb(246, 239, 239);
    // }

    .img-preview {
        height: 150px;
        border: 1px dashed;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ccc;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .label-upload {
        display: flex;
        align-items: center;
        gap: 5px;
        border: 1px solid red;
        width: fit-content;
        padding: 3px 10px;
        border-radius: 5px;
        background: #d9f0f3;
        cursor: pointer;

        &:hover {
            background: #75b9c2;
        }
    }
}

.modal-view-user {

    .modal-content {
        color: white;
        border: 1px solid rgb(43, 30, 30);
        background-color: rgb(246, 239, 239);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        background-image: url("https://boxgaixinh.net/wp-content/uploads/2022/11/3-7.jpg");
        background-size: cover;

        .modal-body {

            input,
            select {
                background-color: #0e284140;
            }

            .form-control,
            .form-select {
                color: white;
            }
        }

    }

    .img-preview {
        height: 150px;
        border: 1px dashed;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ccc;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .modal-footer {
        button {
            background-color: #0e284140;
        }
    }
}