body {
  overflow: hidden;
  padding: 0px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1500px !important;
  }
}

.custom-dropdown .dropdown-menu {
  min-width: 100px;
  /* chỉnh chiều rộng dropdown */
}

.custom-dropdown .dropdown-item {
  padding: 5px 10px;
}

.app-container {
  .header-container {
    background-color: rgb(196, 232, 232);
    box-shadow: 0 4px 10px rgba(173, 149, 149, 0.4);
    border-bottom: 2px solid rgb(169, 169, 232);
    .btn-login {
      border-radius: 5px;
      margin-right: 15px;
      padding: 0 15px;
      border: 1px solid #535353;
      height: 40px;
    }

    .btn-signup {
      background: #3c3939;
      color: white;
      border-radius: 5px;
      margin-right: 15px;
      padding: 0 15px;
      border: 1px solid #535353;

      &:hover {
        background: black;
      }
    }

    .navbar {
      padding-top: 10px;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0) !important;

      .nav-link {
        margin-right: 20px;

        &.active {
          color: red;
        }
      }

      // .navbar-nav{
      //   margin-left: 80px;
      // }
    }
  }

  .homepage-container {
    font-family:'Times New Roman', Times, serif;

    .homepage-content {
      position: relative;
      width: 50%;
      padding: 0 130px;
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      gap: 30px;

    }

    .title-1 {
      font-size: 50px;
      font-weight: 600;
    }

    .title-2 {
      font-size: 25px;
    }

    .title-3 {
      button {
        border-radius: 5px;
        height: 40px;
        background: #3c3939;
        color: white;
        border-radius: 5px;
        margin-right: 15px;
        padding: 0 15px;
        border: none;

        &:hover {
          background: black;
        }
      }
    }
  }

  .app-content {
    height: calc(100vh - 60px);
  }
}

video {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

// // .app-container {
// //   .header-container {
// //     .navbar-nav .nav-link.active{
// //       color: red;
// //     }
// //   }
// }